#encrypt {
    border: 5px solid powderblue;
    height: 50px;
    width: 100px;
    margin: 10px;
}

#decrypt {
    border: 5px solid powderblue;
    height: 50px;
    width: 100px;
    margin: 10px;
}

#instTab{
    border: 5px solid powderblue;
    height: 50px;
    width: 100px;
    margin: 10px;
}

#changeKey{
    border: 5px solid powderblue;
    height: 50px;
    width: 100px;
    margin: 10px;
}